# E01 Python Fundamentals

This exam will cover basic problem solving, OOP fundamentals, and some functional programming problems. For this exam, the use of ChatGTP (or any other AI-based assistant) will **not** be allowed or the exam grade will be considered as 0.

Each problem will contain some test cases so you can verify your implementation. Finally, I'll run some edge cases to see if your solution covers them, feel free to add any other test you consider important.

#### Ilse Regina Flores Reyes

### Python Basics (30pts)

In [1]:
from typing import List

#### 1) Fibonacci Sequence (10pts)
The Fibonacci sequence $F$ is a sequence where each number is the sum of the two preceding ones. We'll consider that the sequence starts with $F_0 = 0$ and $F_1 = 1$.

Create a function defined as `fibonacci_sequence(n: int) -> List[int]` that takes `n` as a parameter and returns a list containing the elements up to $F_n$:

```
Input: 5  

Expected Output: [0, 1, 1, 2, 3, 5]
```

Assume that $0 \leq n \leq 10000$.

In [32]:
# Your code here
from typing import List

def fibonacci_sequence_not_list(n: int) -> List[int]:
  if n < 2:
    return n
  

  mainList = [0,1]
  count = 1

  while count < n:
    mainList.append(sum(mainList[-2:]))
    count += 1

  return mainList[-1]

In [33]:
fibonacci_sequence_not_list(10)

55

In [21]:
# Your code here
from typing import List

def fibonacci_sequence(n: int) -> List[int]:
  if n == 0:
    return [0]
  
  if n == 1:
    return [0,1]
  
  mainList = [0,1]
  count = 1

  while count < n:
    print(mainList)
    mainList.append(sum(mainList[-2:]))
    count += 1

  return mainList

In [22]:
print(fibonacci_sequence(10))

[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [25]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert fibonacci_sequence(0) == [0]
assert fibonacci_sequence(1) == [0, 1]
assert fibonacci_sequence(10) == [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
print("Tests passed!")

[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Tests passed!

In [34]:
def fibonacci_recursive(n):
    if n < 2:
        return n
    else:
        return fibonacci_recursive(n-1) + fibonacci_recursive(n-2)

In [35]:
fibonacci_recursive(10)

55

#### 2) Count the number of repeated characters (10pts)

Write a function defined as `num_repeats(s: str) -> int` that will return the count of distinct *case-insensitive* alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

```
Input: abcd

Output: 0

Notes: No duplicates
```

```
Input: abcaa

Output: 1

Notes: a appears 3 times in the string
```

```
Input: AaBb

Output: 2

Notes: both a and b are repeated
```

In [47]:
# Your code here
def num_repeats(s: str) -> int:

    return len(s.lower()) - len(set(s.lower()))

In [48]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert num_repeats("abcde") == 0
assert num_repeats("aabbcde") == 2
assert num_repeats("aA11") == 2
assert num_repeats("ABBA") == 2

#### 3) Unique number (10pts)

Write a function defined as `unique_num(nums: List[float]) -> float`. All numbers in the list are equal except for one. Try to find the unique value.

```
Input: [1, 1, 1, 2, 1, 1, 1]

Output: 2

Notes: 2 is the unique number
```

In [58]:
l = [1,1,2,1,1]

list(set(l))[0]

1

In [68]:
# Your code here

def unique_num(nums: List[float]) -> float:
    
    uniques = list(set(nums))
    
    if len([i for i in nums if i == uniques[0]]) > 1:
        return uniques[1]
    
    else:
        return uniques[0]

In [69]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert unique_num([1, 1, 1, 2, 1, 1, 1]) == 2
assert unique_num([1, 2, 1]) == 2
assert unique_num([1, 1, 1, 0.5]) == 0.5

### Object-Oriented Programming (40pts)

#### 1) Spend it up (20pts)

Let's start defining our financial domain. The idea is to model a client that owns a debit card and will make purchases, deposits, or transfer to another card.

##### Card:
> Properties:
> - `balance` : float

> Methods:
> - `deposit(amount: float)` -> deposit to your account, no return
> - `withdraw(amount: float)` -> withdraw cash, should throw a ValueError if the operation is not possible.
> - `purchase(amount: float)` -> attempt to buy something, should throw a ValueError if the operation is not possible.
> - `transfer(amount: float, other: 'Card')` -> transfer money from your account to another, should throw a ValueError if the operation is not possible.

##### Person:
> Properties:
> - `first_name` : str
> - `last_name` : str
> - `age` : int
> - `card` : default = None | DebitCard

> Methods:
> - `add_debit_card(card: DebitCard)`: Sets the debit_card property
> - `purchase(price: float) -> str`: Make a purchase, returns a string `"SUCCESSFULLY SPENT $x."` or `"INSUFFICIENT AMOUNTS."` if the operation was not possible.
> - `transfer(amount: float, person: 'Person') -> str`: Transfer money to another person, returns a string either:
>    + `"<last_name>, <first_name> DOES NOT HAVE A CARD."` (if the other person does not have a card),  
>    + `"SUCCESSFULLY TRANSFERED <amount> to <last_name>, <first_name>."` (if the transfer was successful)
>    + `"INSUFFICIENT AMOUNTS."` (if the card does not have sufficient funds).

In [16]:
class Person():
    def __init__(self, first_name:str, last_name:str, age:int, card=None):
        self.first_name = first_name
        self.last_name =  last_name
        self.age = age
        self.card = card

    def add_card(self, card:'Card'):
        self.card = card

    def purchase(self,price:float):
        if self.card == None:
            return f"NO CARD AVAILABLE."
        
        if self.card.balance > price:
            self.card.balance -= price
            return f'SUCCESSFULLY SPENT {price}.'
        else:
            return 'INSUFFICIENT AMOUNTS.'

    def transfer(self,amount:float, person:'Person'):
        if person.card == None:
            return f"{person.last_name}, {person.first_name} DOES NOT HAVE A CARD."
        else:
            if self.card.balance > amount:
                self.card.balance -= amount
                person.card.balance += amount
                return f"SUCCESSFULLY TRANSFERED {amount} to {person.last_name}, {person.first_name}."
            else:
                return "INSUFFICIENT AMOUNTS."

In [17]:
# Your code here
from dataclasses import dataclass

class Card():
    def __init__(self,balance:float):
        self.balance = balance

    def deposit(self,amount:float):
        self.balance += amount
    
    def withdraw(self,amount:float):
        
        if amount < self.balance:
            self.balance -= amount     
        else:
            raise ValueError
        
    def purchase(self, amount:float):

        if amount < self.balance:
            self.balance -= amount     
        else:
            raise ValueError

    def transfer(self, amount:float, other:'Card'):

        if amount < self.balance:
            self.balance -= amount  
            other.balance += amount   
        else:
            raise ValueError

In [18]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

# Creating a person object
person_1 = Person(first_name="LUIS", last_name="GOMEZ", age=24)

# Attempting to purchase without a card
assert person_1.purchase(1000) == "NO CARD AVAILABLE."

# Adding a card
person_1.add_card(Card(balance=5000))
assert person_1.purchase(2000) == 'SUCCESSFULLY SPENT 2000.'

# Exceeding the balance
assert person_1.purchase(10_000) == 'INSUFFICIENT AMOUNTS.'

# Making a deposit
person_1.card.deposit(10_000)

# Purchasing again
assert person_1.purchase(10_000) == 'SUCCESSFULLY SPENT 10000.'

# Creating another person object
person_2 = Person(first_name="FELIPE", last_name="ESTRADA", age=24)

# Attempting to transfer to someone without a card
assert person_1.transfer(10_000, person_2) == 'ESTRADA, FELIPE DOES NOT HAVE A CARD.'

# Adding a card to person_2
person_2.add_card(Card(balance=1000))

# Attempting to transfer too much
assert person_1.transfer(10_000, person_2) == 'INSUFFICIENT AMOUNTS.'

# Transfering a reasonable amount
assert person_1.transfer(1_000, person_2) == 'SUCCESSFULLY TRANSFERED 1000 to ESTRADA, FELIPE.'

# Asserting balances
assert person_1.card.balance == 2000
assert person_2.card.balance == 2000

print("Tests passed!")

Tests passed!

#### 2) Classes from data (20pts)

Consider you fetch some users api and you get the following json response:

```
{
  "_id": 1,
  "name": "Leanne Graham",
  "username": "Bret",
  "email": "Sincere@april.biz",
  "address": {
    "street": "Kulas Light",
    "suite": "Apt. 556",
    "city": "Gwenborough",
    "zipcode": "92998-3874",
    "geo": {
      "lat": "-37.3159",
      "lng": "81.1496"
    }
  },
  "phone": "1-770-736-8031 x56442",
  "website": "hildegard.org",
  "company": {
    "name": "Romaguera-Crona",
    "catch_phrase": "Multi-layered client-server neural-net",
    "bs": "harness real-time e-markets"
  }
}
```

Abstract the response into their required classes and properties to attach the information of this api, since these are dataclasses, they will not have any methods, only properties.

Hint, make sure you create the following classes: `User`, `Address`, `Geo`, `Company`.

In [5]:
# Your code here

class Geo():
    def __init__(self,lat:str,lng:str):
        self.lat = lat
        self.lng = lng

    
class Address():
    def __init__(self, street:str, suite:str, city:str, zipcode:str, geo:'Geo'):
        self.street = street
        self.suite = suite
        self.city = city
        self.zipcode = zipcode
        self.geo = geo

        
class Company:
    def __init__(self, name:str, catch_phrase:str, bs:str):
        self.name = name
        self.catch_phrase = catch_phrase
        self.bs = bs
        
class User:
    def __init__(self, _id:int, name:str, username:str, email:str, phone:str, website:str, address:'Address', company:'Company'):
        self._id = _id
        self.name = name
        self.username = username
        self.email = email
        self.address = address
        self.phone = phone
        self.website = website
        self.company = company

In [6]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

# Creating company obj
comp = Company(name="Romaguera-Crona",
               catch_phrase="Multi-layered client-server neural-net",
               bs="harness real-time e-markets")

# Creating geolocation obj
geo = Geo(lat="-37.3159", lng="81.1496")

# Creating address obj
address = Address(street="Kulas Light", suite="Apt. 556", city="Gwenborough",
                  zipcode="92998-3874", geo=geo)

# Creating user obj
user = User(_id=1, name="Leanne Graham", username="Bret", email="Sincere@april.biz",
            address=address, phone="1-770-736-8031 x56442", website="hildegard.org",
            company=comp)

assert user._id == 1
assert user.company.name == "Romaguera-Crona"
assert user.address.geo.lng == "81.1496"

print("Tests passed!")

Tests passed!

### Functional Programming (30pts)

#### 1) Mapping (10pts)

Considering that you previously defined the `User` class including all subclasses needed to create a user object, now it's time to apply functional programming to transform a list of dictionaries into `User` objects!

Let's suppose that the users api returns a list of users instead of a single one.

```
[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },
  {
    "id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catchPhrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }
  },
  ...
]
```

Transform this list of dicts into instances of `User` using `map` and store it in a variable named `user_data`. You can create any helper function and then apply it to a map method.

In [2]:
data = [
  {
    "_id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catch_phrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },
  {
    "_id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catch_phrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }
  },
  {
    "_id": 3,
    "name": "Clementine Bauch",
    "username": "Samantha",
    "email": "Nathan@yesenia.net",
    "address": {
      "street": "Douglas Extension",
      "suite": "Suite 847",
      "city": "McKenziehaven",
      "zipcode": "59590-4157",
      "geo": {
        "lat": "-68.6102",
        "lng": "-47.0653"
      }
    },
    "phone": "1-463-123-4447",
    "website": "ramiro.info",
    "company": {
      "name": "Romaguera-Jacobson",
      "catch_phrase": "Face to face bifurcated interface",
      "bs": "e-enable strategic applications"
    }
  },
  {
    "_id": 4,
    "name": "Patricia Lebsack",
    "username": "Karianne",
    "email": "Julianne.OConner@kory.org",
    "address": {
      "street": "Hoeger Mall",
      "suite": "Apt. 692",
      "city": "South Elvis",
      "zipcode": "53919-4257",
      "geo": {
        "lat": "29.4572",
        "lng": "-164.2990"
      }
    },
    "phone": "493-170-9623 x156",
    "website": "kale.biz",
    "company": {
      "name": "Robel-Corkery",
      "catch_phrase": "Multi-tiered zero tolerance productivity",
      "bs": "transition cutting-edge web services"
    }
  },
  {
    "_id": 5,
    "name": "Chelsey Dietrich",
    "username": "Kamren",
    "email": "Lucio_Hettinger@annie.ca",
    "address": {
      "street": "Skiles Walks",
      "suite": "Suite 351",
      "city": "Roscoeview",
      "zipcode": "33263",
      "geo": {
        "lat": "-31.8129",
        "lng": "62.5342"
      }
    },
    "phone": "(254)954-1289",
    "website": "demarco.info",
    "company": {
      "name": "Keebler LLC",
      "catch_phrase": "User-centric fault-tolerant solution",
      "bs": "revolutionize end-to-end systems"
    }
  },
  {
    "_id": 6,
    "name": "Mrs. Dennis Schulist",
    "username": "Leopoldo_Corkery",
    "email": "Karley_Dach@jasper.info",
    "address": {
      "street": "Norberto Crossing",
      "suite": "Apt. 950",
      "city": "South Christy",
      "zipcode": "23505-1337",
      "geo": {
        "lat": "-71.4197",
        "lng": "71.7478"
      }
    },
    "phone": "1-477-935-8478 x6430",
    "website": "ola.org",
    "company": {
      "name": "Considine-Lockman",
      "catch_phrase": "Synchronised bottom-line interface",
      "bs": "e-enable innovative applications"
    }
  },
  {
    "_id": 7,
    "name": "Kurtis Weissnat",
    "username": "Elwyn.Skiles",
    "email": "Telly.Hoeger@billy.biz",
    "address": {
      "street": "Rex Trail",
      "suite": "Suite 280",
      "city": "Howemouth",
      "zipcode": "58804-1099",
      "geo": {
        "lat": "24.8918",
        "lng": "21.8984"
      }
    },
    "phone": "210.067.6132",
    "website": "elvis.io",
    "company": {
      "name": "Johns Group",
      "catch_phrase": "Configurable multimedia task-force",
      "bs": "generate enterprise e-tailers"
    }
  },
  {
    "_id": 8,
    "name": "Nicholas Runolfsdottir V",
    "username": "Maxime_Nienow",
    "email": "Sherwood@rosamond.me",
    "address": {
      "street": "Ellsworth Summit",
      "suite": "Suite 729",
      "city": "Aliyaview",
      "zipcode": "45169",
      "geo": {
        "lat": "-14.3990",
        "lng": "-120.7677"
      }
    },
    "phone": "586.493.6943 x140",
    "website": "jacynthe.com",
    "company": {
      "name": "Abernathy Group",
      "catch_phrase": "Implemented secondary concept",
      "bs": "e-enable extensible e-tailers"
    }
  },
  {
    "_id": 9,
    "name": "Glenna Reichert",
    "username": "Delphine",
    "email": "Chaim_McDermott@dana.io",
    "address": {
      "street": "Dayna Park",
      "suite": "Suite 449",
      "city": "Bartholomebury",
      "zipcode": "76495-3109",
      "geo": {
        "lat": "24.6463",
        "lng": "-168.8889"
      }
    },
    "phone": "(775)976-6794 x41206",
    "website": "conrad.com",
    "company": {
      "name": "Yost and Sons",
      "catch_phrase": "Switchable contextually-based project",
      "bs": "aggregate real-time technologies"
    }
  },
  {
    "_id": 10,
    "name": "Clementina DuBuque",
    "username": "Moriah.Stanton",
    "email": "Rey.Padberg@karina.biz",
    "address": {
      "street": "Kattie Turnpike",
      "suite": "Suite 198",
      "city": "Lebsackbury",
      "zipcode": "31428-2261",
      "geo": {
        "lat": "-38.2386",
        "lng": "57.2232"
      }
    },
    "phone": "024-648-3804",
    "website": "ambrose.net",
    "company": {
      "name": "Hoeger LLC",
      "catch_phrase": "Centralized empowering task-force",
      "bs": "target end-to-end models"
    }
  }
]

In [4]:
class Geo():
    def __init__(self,lat:str,lng:str):
        self.lat = lat
        self.lng = lng

    
class Address():
    def __init__(self, street:str, suite:str, city:str, zipcode:str, geo:'Geo'):
        self.street = street
        self.suite = suite
        self.city = city
        self.zipcode = zipcode
        self.geo = geo

        
class Company:
    def __init__(self, name:str, catch_phrase:str, bs:str):
        self.name = name
        self.catch_phrase = catch_phrase
        self.bs = bs
        
class User:
    def __init__(self, _id:int, name:str, username:str, email:str, phone:str, website:str, address:'Address', company:'Company'):
        self._id = _id
        self.name = name
        self.username = username
        self.email = email
        self.address = address
        self.phone = phone
        self.website = website
        self.company = company

In [5]:
# Your code here
def make_user(dict):
    
    geo = Geo(
        dict['address']['geo']['lat'] # lat
        ,dict['address']['geo']['lng'] # lng
    )

    address = Address(
        dict['address']['street'] 
        ,dict['address']['suite'] 
        ,dict['address']['city'] 
        ,dict['address']['zipcode'] 
        ,geo
    ) 
    

    company = Company(
        dict['company']['name']
        ,dict['company']['catch_phrase']
        ,dict['company']['bs']
        
    )

    user = User(
        dict['_id']
        ,dict['name']
        ,dict['username']
        ,dict['email']
        ,address
        ,dict['phone']
        ,dict['website']
        ,company
    )
    return user

user_data = list(map(make_user,data))

In [6]:
assert len(user_data) == 10
assert set(map(lambda x: type(x), user_data)) == {User}

#### 2) Transformations (10pts)

Now that you have a variable named `user_data` with all the respective `User` objects let's apply some additional transformations using Functional Programming principles, meaning, maps, flatmaps, filters & reduce to immutable data structures:

 1) Get the name of the users
 2) Get the company name of the users that their email ends in `.biz`
 3) Get the phone number of the users with *odd* id

In [10]:
list(map(lambda x: x, user_data))
#list(map(function(x), x))
#x could be a vector

[<__main__.User at 0x1103b6810>,
 <__main__.User at 0x110459c90>,
 <__main__.User at 0x110459910>,
 <__main__.User at 0x11045a2d0>,
 <__main__.User at 0x110458310>,
 <__main__.User at 0x110458910>,
 <__main__.User at 0x110458f10>,
 <__main__.User at 0x110458e90>,
 <__main__.User at 0x110459ad0>,
 <__main__.User at 0x110459690>]

In [15]:
# Your code here
list(map(lambda x: x.name, user_data))

['Leanne Graham',
 'Ervin Howell',
 'Clementine Bauch',
 'Patricia Lebsack',
 'Chelsey Dietrich',
 'Mrs. Dennis Schulist',
 'Kurtis Weissnat',
 'Nicholas Runolfsdottir V',
 'Glenna Reichert',
 'Clementina DuBuque']

In [16]:
# Your code here
list(map(lambda x: x.company.name, filter(lambda x: ".biz" in x.email, user_data)))

['Romaguera-Crona', 'Johns Group', 'Hoeger LLC']

In [18]:
# Your code here
list(map(lambda x: x.x.phone, filter(lambda x:x._id % 2 != 0, user_data)))

AttributeError: 'User' object has no attribute 'x'

#### 3) Fibonacci again... (10pts)

Remember the last Fibonacci problem, those were good times, now instead of creating a function that returns the sequence we want to return the value $F_n$, but there is one catch, the function **must be recursive** (it means that it calls itself...).

Define a function `nth_fibonacci(n: int) -> int` that returns $F_n$.

```
Input: 6

Expected Output: 8
```

In [52]:
# Your code here
from typing import List


def nth_fibonacci(n: int) -> int:
    if n == 0:
        return 0
    if n == 1:
        return 1
    
    return nth_fibonacci(n-1) + nth_fibonacci(n-2)
    
    
    ...

In [53]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert nth_fibonacci(0) == 0
assert nth_fibonacci(1) == 1
assert nth_fibonacci(10) == 55
print("Tests passed!")

Tests passed!

### Bonus Points (20pts)

#### 1) Flatten (10pts)
For this exercise you will create a global `flatten` method. The method takes in any number of arguments and flattens them into a single array. If any of the arguments passed in are an array then the individual objects within the array will be flattened so that they exist at the same level as the other arguments. Any nested arrays, no matter how deep, should be flattened into the single array result.

In [50]:
# Your code here


def flatten(*args):
    
    initialList = []

    for i in args:
        if isinstance(i,list) == True:
           initialList.extend(flatten(*i))
        else:
            initialList.append(i)

    return initialList




    

flatten(1, [2, 3], 4, 5, [6, [7]])

[1, 2, 3, 4, 5, 6, 7]

In [51]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert flatten(1, [2, 3], 4, 5, [6, [7]]) == [1, 2, 3, 4, 5, 6, 7]
assert flatten('a', ['b', 2], 3, None, [[4], ['c']]) == ['a', 'b', 2, 3, None, 4, 'c']
print("Tests passed!")

Tests passed!

#### 2) Roman Numerals Encoder (10pts)

Create a function taking a positive integer between 1 and 3999 (both included) as its parameter and returning a string containing the Roman Numeral representation of that integer.

Modern Roman numerals are written by expressing each digit separately starting with the left most digit and skipping any digit with a value of zero. In Roman numerals 1990 is rendered: 1000=M, 900=CM, 90=XC; resulting in MCMXC. 2008 is written as 2000=MM, 8=VIII; or MMVIII. 1666 uses each Roman symbol in descending order: MDCLXVI.

```
Symbol    Value
I          1
V          5
X          10
L          50
C          100
D          500
M          1,000
```

Remember that there can't be more than 3 identical symbols in a row.

In [2]:
# Your code here


def roman_encoder(n):
    
    symbols = {
        "M" : 1000,
        "CM" : 900,
        "D" : 500,
        "CD" : 400,
        "C" : 100,
        "XC" : 90,
        "L" : 50,
        "XL" : 40,
        "X" : 10,
        "IX" : 9,
        "V" : 5,
        "IV" : 4,
        "I" : 1
    }
    
    return res
    ...

In [ ]:
# TEST CASES - DO NOT MODIFY, ONLY RUN.

assert roman_encoder(1000) == 'M'
assert roman_encoder(1945) == 'MCMXLV'
assert roman_encoder(2023) == 'MMXXIII'
print("Tests passed!")